{% extends 'pages/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quiz/js/quiz_page.js' %}" defer></script>
{% endblock %}

<!-- Navigation -->

{% block content_0 %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">

            <h3> Quiz Begins here</h3>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}



{% block content %}

<a href="{% url 'home' %}" class="btn btn-danger">Quit</a>
<button id="submit" type="submit" class="btn btn-primary mt-3">Save</button>
<form  id="quiz-form" class="mt-3 mb-3">
    {% csrf_token %}
    <div id="quiz-box" style="margin-bottom: 10px;"></div>
</form>




{% endblock %}