<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name=
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/pages/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static 'learn/css/business-casual.css' %}" />
        <!-- Fonts -->
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
          <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

        {% block scripts %}
        {% endblock%}

    </head>

    <body id="page-top">
        <!-- Masthead-->
        <header class="masthead">
            <div class="corner">
              {% if user.is_authenticated %}
                <h style="color:red" >{{user.username}}</h><br>
                <a  href="https://github.com/Alich13/Django_DLAD" target="_blank">My account </a><br>
                <a  href="/logout">Logout</a>
              {% else %}
                <a  href="/login">Login</a>
              {% endif %}
            </div>

            <div class="corner_left"><a href="https://www.univ-amu.fr/">
            <img id="AMU" src="/static/pages/img/AMU.png" alt="image_AMU">
    <!--        <img id="logo_" src="/static/pages/img/cell_micro.jpg" alt="image_AMU">-->
            </a></div>

            <div class="brand"><a href="/">DLAD QUIZ</a> <br>
                <img id="logo_" src="/static/pages/img/cell_micro.jpg" alt="image_AMU">
            </div>

            <div class="address-bar"> Learn while playing </div>

                    {% block content_0 %}

                    {% endblock %}


                    {% block content %}

                    {% endblock %}
        </header>



        {% block content_2 %}

        {% endblock %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; <a href="https://formations.univ-amu.fr/fr/master/5SBI/PRSBI5AB" target="_blank">DLAD Master Bioinfo 2021/2022 </a> </p>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/pages/js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


             <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript">

            $( function() {
            $( "#searchForm" ).autocomplete({
              source: '{% url 'learn:autocomplete' %}',
              minLength: 2
            });
          } );

          $(document).ready(function() {
            $('#stat_table').DataTable( {

            } );
        } );

          $(document).ready(function() {
            $('#profile_table').DataTable( {

            } );
        } );
          </script>


    </body>
</html>
