{% extends 'pages/base.html' %}
{% load static %}



<!-- Navigation -->

{% block content_0 %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container text-center">

            <h3> Statistics</h3>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}



{% block content %}





<nav class="nav nav-tabs mb-3 " style="font-size: 2em; margin-right: 40px;
   display: inline;">
  <a class="nav-item active" href="#p1"  data-toggle="tab">Statistics</a>
  <a class="nav-item " href="#p2" data-toggle="tab">Ranking</a>
</nav>

<div class="tab-content">
  <div class="tab-pane active" id="p1">
    <table id="stat_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Player</th>
                <th>Quiz</th>
                <th>Score</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>

        <tbody>
        {% for stat in stats  %}
            <tr>
                <td>{{stat.user.user_name}}</td>
                <td>{{stat.quiz}}</td>
                 <td>{{stat.score}}</td>
                <td>{{stat.Date}}</td>
                <td>{{stat.time}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="tab-pane" id="p2">
      <table id="profile_table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Player</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Total Points</th>
            </tr>
        </thead>

        <tbody>
        {% for profile in profiles  %}
            <tr>
                <td>{{profile.user_name}}</td>
                <td>{{profile.user.first_name}}</td>
                <td>{{profile.user.last_name}}</td>
                <td>{{profile.Total_points}}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>



{% endblock %}