{% extends 'pages/base.html' %}
{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container py-5" style="margin-left: 200px; padding:50px;">
	<div style="width:600px" >
	<h1>Register</h1>
	{% include 'learn/messages.html' %}
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<br>
		<button class="btn btn-primary btn-lg" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
	</div>
</div>

{% endblock %}